<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product List</title>


    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/product/header.css">
    <link rel="stylesheet" href="/css/product/productList.css">
    <link rel="stylesheet" th:href="@{/css/product/chatbot.css}">


</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<!-- 카테고리 사이드바 -->
<div class="sidebar">
    <ul>
        <li>
            <a th:href="@{/product/list}" th:text="전체"></a>
            <ul>
                <li th:each="category : ${cateList}" th:if="${category.cateCode.length() == 2}">
                    <a th:href="@{/product/list(cateKey=${category.cateCode})}" th:text="${category.cateNow}">카테고리1</a>
                    <ul>
                        <li th:each="subCategory : ${cateList}"
                            th:if="${subCategory.cateCode.startsWith(category.cateCode) and subCategory.cateCode.length() == 4}">
                            <a th:href="@{/product/list(cateKey=${subCategory.cateCode})}"
                               th:text="${subCategory.cateNow}">카테고리2</a>
                            <ul>
                                <li th:each="subSubCategory : ${cateList}"
                                    th:if="${subSubCategory.cateCode.startsWith(subCategory.cateCode) and subSubCategory.cateCode.length() == 6}">
                                    <a th:href="@{/product/list(cateKey=${subSubCategory.cateCode})}"
                                       th:text="${subSubCategory.cateNow}">카테고리3</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>

<div class="content">

    <!-- 검색창 및 정렬 -->
    <div class="search-and-sort">
        <form th:action="@{/product/list}" method="get" class="search-form">
            <input type="hidden" name="cateKey" th:value="${cateKey}"/>
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}"
                   class="form-control search-input">
            <button type="submit" class="btn btn-primary">검색</button>
        </form>

        <form th:action="@{/product/list}" method="get" class="sort-form">
            <input type="hidden" name="cateKey" th:value="${cateKey}"/>
            <input type="hidden" name="keyword" th:value="${keyword}"/>
            <div class="sort-options">
                <select name="sortKey">
                    <option value="date" th:selected="${sortKey == 'date'}">등록 날짜</option>
                    <option value="sales" th:selected="${sortKey == 'sales'}">판매량</option>
                    <option value="price" th:selected="${sortKey == 'price'}">가격</option>
                </select>
                <select name="sortOrder">
                    <option value="desc" th:selected="${sortOrder == 'desc'}">↓</option>
                    <option value="asc" th:selected="${sortOrder == 'asc'}">↑</option>
                </select>
                <button type="submit" class="btn btn-primary">정렬</button>
            </div>
        </form>
    </div>
    <br>
    <br>

    <!-- 상품 리스트 -->
    <div class="product-grid">
        <div class="product-card" th:each="product : ${prodList}">
            <a th:href="@{/product/detail(prodId=${product.prodId})}" class="product-card-link">
                <!--                <img th:src="@{/images/product/imsi.png}" alt="상품 이미지" class="product-image">-->
                <!-- 이미지가 존재하는 경우 -->
                <img th:if="${product.imageId != null}" th:src="@{'/images/product/' + ${product.imageId}}"
                     alt="상품 이미지" class="product-image">
                <!-- 이미지가 존재하지 않는 경우 기본 이미지를 표시 -->
                <img th:unless="${product.imageId != null}" th:src="@{'/images/product/imsi.png'}" alt="기본 이미지"
                     class="product-image">
                <div class="product-details">
                    <h2 class="product-title" th:text="${product.prodName}"></h2>
                    <p class="product-description" th:text="${product.smry}"></p>
                    <div class="product-pricing">
                        <span class="product-base-price" th:text="${product.prodBasePrice}"></span>
                        <span class="product-disc-rate" th:text="${product.discRate}+'%'"></span>
                        <br>
                        <span class="product-price" th:text="${'-> '+product.salePrice}+'원'"></span>
                    </div>
                    <div class="product-meta">
                        <span class="product-sales" th:text="'판매량: ' + ${product.totalSales}"></span>
                        <span class="product-rating"
                              th:text="${product.starAvg} ? '별점: ' + ${product.starAvg} + ' / 5' : '별점 없음'"></span>
                        <span class="product-date" th:text="${product.regDate}"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>



<!-- productList.html -->
<div th:replace="~{fragments/chatbot :: chatbotButton}"></div>

<!-- chatbot.js -->
<script th:src="@{/js/chatbot.js}"></script>


<!-- 상품관리 버튼 -->
<div th:if="${admin}=='admin'" class="manage-link">
    <a th:href="@{/product/manage}">Manage</a>
</div>

<!-- 페이지 네비게이션바 -->
<nav class="pagination">
    <span th:if="${ph.showPrev}">
        <a th:href="@{/product/list(cateKey=${cateKey}, sortKey=${sortKey}, sortOrder=${sortOrder}, page=${ph.beginPage-1}, pageSize=${ph.pageSize})}">
            &lt;
        </a>
    </span>

    <span th:if="${ph.totalCnt > 0}" th:each="i : ${#numbers.sequence(ph.beginPage, ph.endPage)}">
        <a th:href="@{/product/list(cateKey=${cateKey},keyword=${keyword}, sortKey=${sortKey}, sortOrder=${sortOrder}, page=${i}, pageSize=${ph.pageSize})}"
           th:text="${i}" th:classappend="${ph.page == i} ? 'active' : ''"></a>
    </span>

    <span th:if="${ph.showNext}">
        <a th:href="@{/product/list(cateKey=${cateKey}, sortKey=${sortKey}, sortOrder=${sortOrder}, page=${ph.endPage+1}, pageSize=${ph.pageSize})}">
            &gt;
        </a>
    </span>
</nav>

</body>
</html>
