<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.no1.book.dao.order.OrderStatusHistoryDao">

    <!--    주문상태이력 생성-->
    <!--    주문상태이력은 항상 update가 아닌 insert가 되어야 한다.-->
    <!--    주문상태이력 일련번호 - auto increment-->
    <insert id="createOrderStatusHistory" parameterType="OrderStatusHistoryDto">
        INSERT INTO no1.orderStatusHistory (ord_id, bef_ord_stus_code, curr_ord_stus_code, chg_stus_reason, reg_date, reg_id, up_date, up_id)
        VALUES (#{ordId}, #{befOrdStusCode}, #{currOrdStusCode}, #{chgStusReason}, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s'), #{regId}, DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s'), #{upId})
    </insert>

    <!--    주문상태이력 일련번호로 조회-->
    <!--    변경 날짜로 정렬-->
    <select id="getOrderStatusHistory" parameterType="int" resultType="OrderStatusHistoryDto">
        SELECT * FROM no1.orderStatusHistory
        WHERE ord_stus_history_seq = #{ordStusHistorySeq}
        ORDER BY up_date
    </select>

    <!--    회원의 주문상태이력 전체 조회-->
    <!--    변경 날짜로 정렬-->
    <select id="getCustomerOrderStatusHistory" parameterType="String" resultType="OrderStatusHistoryDto">
        SELECT * FROM no1.orderStatusHistory
                          JOIN no1.order ON no1.orderStatusHistory.ord_id = no1.order.ord_id
        WHERE no1.order.cust_id = #{custId}
        ORDER BY orderStatusHistory.up_date
    </select>

    <!--    한 주문의 주문상태이력 전체 조회-->
    <!--    변경 날짜로 정렬-->
    <select id="getOrderStatusHistoryByOrdId" parameterType="String" resultType="OrderStatusHistoryDto">
        SELECT * FROM no1.orderStatusHistory
        WHERE ord_id = #{ordId}
        ORDER BY up_date
    </select>

    <!--    주문상태이력 전체 조회-->
    <!--    변경 날짜로 정렬-->
    <select id="getAllOrderStatusHistory" resultType="OrderStatusHistoryDto">
        SELECT * FROM no1.orderStatusHistory
    </select>

    <!--    한 주문의 주문상태이력 전체 삭제-->
    <delete id="deleteOrderStatusHistory" parameterType="String">
        DELETE FROM no1.orderStatusHistory
        WHERE ord_id = #{ordId}
    </delete>

    <!--    주문상태이력 전체 삭제-->
    <delete id="deleteAllOrderStatusHistory">
        DELETE FROM no1.orderStatusHistory
    </delete>
</mapper>