/* 전체 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/* 장바구니 컨테이너 설정 */
.container {
    width: 90%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 제목 스타일 */
h2 {
    padding-left: 30px;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

h3 {
    padding-left: 30px;
    color: #666;
    text-align: left;
    margin-bottom: 20px;
}

/* 테이블 스타일 */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #f2f2f2;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    font-weight: bold;
}

td input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 1rem;
}

/* 버튼 스타일 */
input[type="submit"], .btn {
    background-color: transparent; /* 배경색을 투명으로 설정 */
    color: #9d9999; /* "X" 문자 색상을 빨간색으로 설정 */
    border: none; /* 테두리를 제거 */
    font-size: 20px; /* 글자 크기를 크게 설정 */
    font-weight: bold; /* 글자를 굵게 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: color 0.3s ease; /* 색상 전환 효과 */
    padding: 0; /* 패딩을 제거 */
    margin: 0; /* 마진을 제거 */
    line-height: 1; /* 줄 높이를 설정 */
}

input[type="submit"]:hover, .btn:hover {
    color: #524f4f; /* 호버 시 더 진한 빨간색 */
}


/* 총합 가격 섹션 스타일 */
.cart-summary {
    text-align: right;
    margin-top: 20px;
}

.cart-summary h3 {
    font-size: 1.5rem;
    color: #333;
}

/* 알림 메시지 스타일 */
.alert {
    color: red;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

/* 장바구니 비어있는 경우 스타일 */
p {
    padding-top:200px;
    text-align: center;
    color: #666;
    font-size: 1.2rem;
}

.input_size_20{
    width:20px;
    height:20px;
}
.all_check_input{
    margin: 18px 0 18px 18px;
}
.all_chcek_span{
    padding-left: 8px;
    font-size: 20px;
    font-weight: bold;
}

.order-summary {
    display: flex;
    justify-content: flex-end;
}
.order-summary strong {
    margin: 10px;
    padding: 10px 20px;
}
.order-summary button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #3f1e85;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    display: inline-block;
    float: right;
}

.order-summary button:hover {
    background-color: #251544;
}

/* 장바구니 삭제 버튼 */
.original-price {
    text-decoration: line-through; /* 취소선 추가 */
    color: #999; /* 회색으로 표시 */
    margin-right: 8px; /* 가격 간 간격 추가 */
    text-align: left;
}

.sale-price {
    color: #000000; /* 검정색으로 강조 */
    font-weight: bold; /* 굵게 표시 */
}

/* 수량 증감 버튼 */

.quantity-wrapper {
    padding: 25px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center; /* 수직 정렬 */

}
.quantity-wrapper button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
    width: 25px; /* 버튼 너비 */
    height: 25px; /* 버튼 높이 */
}

.quantity-wrapper input {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin: 0 5px; /* 버튼과 입력란 사이의 간격 */
}

.rmvBtn input {
    background-color: transparent; /* 배경색을 투명으로 설정 */
    color: #c5c3c3; /* "X" 문자 색상을 빨간색으로 설정 */
    border: none; /* 테두리를 제거 */
    font-size: 13px; /* 글자 크기를 크게 설정 */
    font-weight: bold; /* 글자를 굵게 설정 */
    cursor: pointer; /* 마우스 커서를 포인터로 변경 */
    transition: color 0.3s ease; /* 색상 전환 효과 */
    padding-right: 5px; /* 패딩을 제거 */
    margin: 0; /* 마진을 제거 */
    line-height: 1; /* 줄 높이를 설정 */
}



/* 새벽배송, 종이책, e-book 스타일 */
.product-info {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 1.5;
    width: 140px; /* 필요한 너비 조정 */
    display: inline-block; /* 버튼처럼 보이도록 설정 */
}

/* 상품 상태별 배경색 설정 */
.product-text {
    display: block; /* 한 줄씩 표시 */
    margin-bottom: 5px; /* 각 줄 간의 간격 조정 */
    font-weight: bold; /* 텍스트 굵게 */
}

/* 상태에 따른 배경색과 텍스트 색상 */
.product-text:nth-child(1) {
    background-color: #a6b2f3; /* 오렌지색 배경 */
    color: #000000; /* 흰색 텍스트 */
    display: inline-block; /* 버튼처럼 보이도록 설정 */
    border-radius: 3px;
    padding: 5px;
}

.product-text:nth-child(2) {
    background-color: #77be77; /* 초록색 배경 */
    color: #ffffff; /* 흰색 텍스트 */
    display: inline-block; /* 버튼처럼 보이도록 설정 */
    border-radius: 3px;
    padding: 5px;
}

.product-text:nth-child(3) {
    background-color: #ccc885; /* 파란색 배경 */
    color: white; /* 흰색 텍스트 */
    display: inline-block; /* 버튼처럼 보이도록 설정 */
    border-radius: 3px;
    padding: 5px;
}
