<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>주문내역 화면</title>

    <link rel="stylesheet" href="/css/order/history.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.cancel_order_button').click(function () {
                var button = $(this);
                var ordProdId = button.data('ord-prod-id');
                var stusDiv = button.siblings('.product_status');

                var userConfirmed = confirm("해당 상품의 주문을 취소하시겠습니까?");

                if(userConfirmed) {
                    $.ajax({
                        url: '/order/cancel',
                        type: 'POST',
                        data: {
                            ordProdId: ordProdId
                        },
                        success: function (res) {
                            if(res === 'success') {
                                stusDiv.text('CNCL').addClass('cancelled');
                                button.remove();
                            } else {
                                alert('주문 취소 실패했습니다.');
                            }
                        },
                        error: function (xhr, status, error) {
                            alert('주문 취소 실패했습니다.');
                        },
                    });
                }
            });
        });

        function formatPrice(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        window.onload = function () {
            var productPrice = document.querySelectorAll('.product_price');

            productPrice.forEach(function (element) {
                var price = parseInt(element.getAttribute('data-price'));
                element.textContent = formatPrice(price) + "원";
            });
        }

    </script>

</head>
<body>
    <p class="title_heading">주문/배송 목록</p>

    <div th:if="${orderHistory == null or orderHistory.isEmpty()}"  class="no_order_history">
        <div class="no_order_history_text">주문 내역이 없습니다.</div>
    </div>

    <div class="order_history_list" th:each="history : ${orderHistory}">
        <div class="order_id" th:text="${history.getKey()}"></div>
        <div class="order_history" th:each="historyItem : ${history.value}">
            <img class="product_img" th:src="@{${historyItem.getImg()}}" alt="Product Image" style="width:80px; height:100px; object-fit: cover">
            <div class="product_info">
                <div class="product_name" th:text="${historyItem.getProdName()}"></div>
                <div class="product_quantity" th:text="'수량 : ' + ${historyItem.getOrdQty()}"></div>
            </div>
            <div class="product_price" th:attr="data-price=${historyItem.getTotalPayPrice()}" th:text="${historyItem.getTotalPayPrice()} + '원'"></div>
            <div class="product_status" th:switch="${historyItem.getOrdChkCode()}">
                <span th:case="'CNCL'" th:text="'취소주문'"></span>
                <span th:case="*">결제완료</span>
            </div>
            <button class="review_button">리뷰 작성</button>
            <button class="cancel_order_button" th:attr="data-ord-prod-id=${historyItem.getOrdProdId()}" th:if="${historyItem.getOrdChkCode()} != 'CNCL'">주문 취소</button>
        </div>
    </div>
</body>
</html>