<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>정석문고 jungsukbook</title>
    </head>

    <link rel="stylesheet" href="/css/order/form.css">

    <script>
        // 비밀번호 on/off
        function togglePasswordField() {
            var passwordField = document.getElementById('password');
            var passwordRadio = document.getElementById('passwordRadio');
            if (passwordRadio.checked) {
                passwordField.style.display = 'block'; // 비밀번호 필드 표시
            } else {
                passwordField.style.display = 'none'; // 비밀번호 필드 숨김
            }
        }

        function formatPrice(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        window.onload = function () {
            var salePrice = document.querySelectorAll('.sale_price');
            var basePrice = document.querySelectorAll('.product_base_price');
            var prices = document.querySelectorAll('.price');

            salePrice.forEach(function (element) {
                var price = parseInt(element.getAttribute('data-price'));
                element.textContent = formatPrice(price) + "원";
            });

            basePrice.forEach(function (element) {
                var price = parseInt(element.getAttribute('data-price'));
                element.textContent = formatPrice(price) + "원";
            });

            prices.forEach(function (element) {
                var price = parseInt(element.getAttribute('data-price'));
                element.textContent = formatPrice(price) + "원";
            })
        }

        function validationForm(event) {
            var passwordRadio = document.getElementById('passwordRadio');
            var passwordField = document.getElementById('password');
            var orderInfoFields = document.querySelectorAll('.order_info');

            if(passwordRadio.checked && passwordField.value.trim() === '') {
                event.preventDefault(); // 폼 제출 방지
                alert("공동현관 비밀번호가 입력되지 않았습니다.");
                passwordField.focus(); // 포커스 이동
            }

            for (var i = 0; i < orderInfoFields.length; i++) {
                if (orderInfoFields[i].value.trim() === '') {
                    event.preventDefault(); // 폼 제출 방지
                    alert("필수 입력 항목이 비어 있습니다.");
                    orderInfoFields[i].focus(); // 포커스 이동
                    return; // 함수 종료
                }
            }

            var checkbox = document.getElementById('default');

            if (checkbox.checked) {
                checkbox.value = 'Y';
            } else {
                checkbox.value = 'N';
            }
        }
    </script>
</head>
<div th:replace="~{fragments/header :: header}"></div>
<section class="section-1">
    <div class="con">
        <img class="w-full block" src="" alt="">
    </div>
</section>

<body>

<form action="/payment/request" method="post" onsubmit="validationForm(event)">
    <p class="title_heading">주문/결제</p>

    <div class="form_body">
        <!-- 배송 정보 -->
        <div class="box_wrap">
            <table>
                <tbody>
                <tr class="delivery_info">
                    <th class="delivery_info_title">주문자 정보</th>
                    <td>
                        <!-- 배송지 이름 -->
                        <!--                        <span th:text="${orderFormDto.getAddressName()}"></span>-->
                        <!--                        <span th:if="${orderFormDto.getDefaultChk() == 'Y'}"> - 기본배송지</span>-->
                        <!-- 수령자 이름, 전화번호 -->
                        <!--                        <div th:text="${orderFormDto.getName()} + ' / ' + ${orderFormDto.getTelNum()}"></div>-->
                        <!--                        <input type="hidden" name="name" th:value="${orderFormDto.getName()}">-->
                        <!--                        <input type="hidden" name="telNum" th:value="${orderFormDto.getTelNum()}">-->
                        <!--                        <div class="address" th:text=" '[' + ${orderFormDto.getZipCode()} + '] ' + ${orderFormDto.getMainAddress()} + ${orderFormDto.getDetailAddress()}"></div>-->
                        <!--                        <input type="hidden" name="zipCode" th:value="${orderFormDto.getZipCode()}">-->
                        <!--                        <input type="hidden" name="mainAddress" th:value="${orderFormDto.getMainAddress()}">-->
                        <!--                        <input type="hidden" name="detailAddress" th:value="${orderFormDto.getDetailAddress()}">-->

                        <input class="order_info" type="text" name="name" th:value="${orderFormDto.getName()}" placeholder="수령인 이름을 입력해 주세요.">
                        <input class="order_info" type="text" name="telNum" th:value="${orderFormDto.getTelNum()}" placeholder="수령인 전화번호를 입력해 주세요.">
                        <input class="order_info" type="text" name="zipCode" th:value="${orderFormDto.getZipCode()}" placeholder="우편번호를 입력해 주세요.">
                        <input class="order_info" type="text" name="mainAddress" th:value="${orderFormDto.getMainAddress()}" placeholder="기본 주소를 입력해 주세요.">
                        <input class="order_info" type="text" name="detailAddress" th:value="${orderFormDto.getDetailAddress()}" placeholder="상세 주소를 입력해 주세요.">
                        <div th:if="${orderFormDto.getCustId()} == -1">
                            <input class="order_info" type="text" name="pwd" placeholder="비회원 주문 조회에 사용할 비밀번호를 입력해 주세요.">
                        </div>
                        <div th:if="${orderFormDto.getCustId() != -1}" style="display: inline-block">
                            <input type="checkbox" id="default" name="defaultChk" style="display: inline-block">
                            <label for="default" style="display: inline-block">다음에도 이 주소로 받을게요</label>
                        </div>
                    </td>
                </tr>
                <tr class="req_msg">
                    <th class="req_msg_title">배송요청사항</th>
                    <td>
                        <input type="text" class="req_msg_form" name="orderRequestMessage" th:value="${orderFormDto.getOrderRequestMessage()}" placeholder="배송 요청 사항을 입력해 주세요.">
                    </td>
                </tr>
                <tr class="entrance_type">
                    <th class="entrance_type_title">공동현관 출입방법</th>
                    <td>
                        <!-- 공동현관 비밀번호/자유출입가능 선택 -->
                        <div class="radio_group">
                            <label>
                                <input type="radio" name="entranceMethod" id="passwordRadio" onclick="togglePasswordField()" checked> 공동현관 비밀번호
                            </label>
                            <label>
                                <input type="radio" name="entranceMethod" id="freeRadio" onclick="togglePasswordField()"> 자유출입 가능
                            </label>
                        </div>
                        <!-- 비밀번호 입력 필드 -->
                        <input class="password_field" type="text" id="password" name="commonEntrancePassword" placeholder="정확한 공동현관 출입 비밀번호를 입력해 주세요." />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 주문 상품 정보 -->
        <div class="box_wrap" style="padding: 32px">
            <div class="order_product_list_title">주문상품</div>
            <div class="total_order_product_number" th:text="'총 ' + ${orderFormDto.getTotalOrdQty()} + '개'"></div>
            <input type="hidden" th:name="totalOrdQty" th:value="${orderFormDto.getTotalOrdQty()}">
            <div class="product_list" th:each="product : ${orderFormDto.getProductList()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].img'" th:value="${product.getImg()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].prodName'" th:value="${product.getProdName()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].prodId'" th:value="${product.getProdId()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].isEbook'" th:value="${product.getIsEbook()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].ordQty'" th:value="${product.getOrdQty()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].ordChkCode'" th:value="${product.getOrdChkCode()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].codeType'" th:value="${product.getCodeType()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].prodPageLink'" th:value="${product.getProdPageLink()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].dawnDeliChk'" th:value="${product.getDawnDeliChk()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].prodBasePrice'" th:value="${product.getProdBasePrice()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].totalProdPrice'" th:value="${product.getTotalProdPrice()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].totalDiscPrice'" th:value="${product.getTotalDiscPrice()}">
                <input type="hidden" th:name="'productList[' + ${productStat.index} + '].totalPayPrice'" th:value="${product.getTotalPayPrice()}">
                <div class="product_item">
                    <img class="product_img" th:src="@{${product.getImg()}}" alt="Product Image" style="width:80px; height:100px; object-fit: cover">
                    <div class="product_name" th:text="${product.getProdName()}"></div>
                    <div class="product_quantity" th:text="${product.getOrdQty()} + '개'"></div>
                    <div class="product_price">
                        <div class="sale_price" th:attr="data-price=${product.getTotalPayPrice()}" th:text="${product.getTotalPayPrice()} + '원'" ></div>
                        <div class="product_base_price" th:attr="data-price=${product.getTotalProdPrice()}" th:text="${product.getTotalProdPrice()} + '원'"></div>
                    </div>
                    <input type="hidden" name="email" th:value="${orderFormDto.getEmail()}">
                </div>
            </div>
            <div th:text="'예상 도착일 : ' + ${orderFormDto.getDlvDate()}" style="margin-top: 12px"></div>
            <input type="hidden" name="dlvDate" th:value="${orderFormDto.getDlvDate()}">
        </div>
        <!-- 결제 수단 정보 -->
        <div class="box_wrap" style="padding: 32px">
            <div class="payment_method_title">결제수단</div>
            <div class="payment_method_group">
                <!--                <input type="radio" class="payment_method" id="option1" name="paymentMethod" value="신용카드" checked="true" />-->
                <!--                <label for="option1" class="payment_method_label">신용카드</label>-->
                <!--                <input type="radio" class="payment_method" id="option2" name="paymentMethod" value="휴대폰결제" />-->
                <!--                <label for="option2" class="payment_method_label">휴대폰결제</label>-->
                <!--                <input type="radio" class="payment_method" id="option3" name="paymentMethod" value="온라인결제" />-->
                <!--                <label for="option3" class="payment_method_label">온라인결제</label>-->
                <img id="tossPay" value="tossPay" style="width: 100px" src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/ico_payment_toss@2x.png" alt="">
                <input type="hidden" name="paymentMethod" value="tossPay">
            </div>
        </div>
        <!-- 결제 수단 정보 -->
        <div class="box_wrap" style="padding: 32px">
            <div class="price_info_title">금액</div>
            <div class="price_info">
                <span class="price_label">총 상품 금액</span>
                <span class="price" th:attr="data-price=${orderFormDto.getTotalProdBasePrice()}"></span>
                <input type="hidden" name="totalProdBasePrice" th:value="${orderFormDto.getTotalProdBasePrice()}">
            </div>
            <div class="price_info">
                <span class="price_label">배송비</span>
                <span class="price" th:attr="data-price=${orderFormDto.getDlvPrice()}"></span>
                <input type="hidden" name="dlvPrice" th:value="${orderFormDto.getDlvPrice()}">
            </div>
            <div class="price_info">
                <span class="price_label">총 할인 금액</span>
                <span class="price" th:attr="data-price=${orderFormDto.getTotalDiscPrice()}"></span>
                <input type="hidden" name="totalDiscPrice" th:value="${orderFormDto.getTotalDiscPrice()}">
            </div>
            <div class="price_info">
                <span class="price_label" style="font-weight: bold">최종 결제 금액</span>
                <span class="price" th:attr="data-price=${orderFormDto.getTotalPayPrice()}" style="font-weight: bold"></span>
                <input type="hidden" name="totalPayPrice" th:value="${orderFormDto.getTotalPayPrice()}">
            </div>
        </div>
    </div>
    <input type="hidden" name="custId" th:value="${orderFormDto.getCustId()}">
    <input type="hidden" name="pwd" th:value="${orderFormDto.getPwd()}">
    <input type="hidden" name="isAllEbook" th:value="${orderFormDto.getIsAllEbook()}">
    <input type="hidden" name="isAllDawnDelivery" th:value="${orderFormDto.getIsAllDawnDelivery()}">
    <button class="payment_button">결제하기</button>
</form>

</body>
</html>