<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>정석문고 jungsukbook</title>

    <link rel="stylesheet" th:href="@{/css/customer/style.css}">
    <link rel="stylesheet" href="/css/order/form.css">
    <script th:src="@{/js/order/orderForm.js}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/product/chatbot.css}">
</head>

<body>
    <div th:replace="~{fragments/header :: header}"></div>
    <form action="/payment/request" method="post" onsubmit="onSubmit(event)">
        <p class="title">주문/결제</p>

        <div class="form_body">
            <div class="box_wrap">
                <table>
                    <tbody>
<!--                    주문자 정보-->
                    <tr class="delivery_info">
                        <th class="delivery_info_title">주문자 정보</th>
                        <td>
                            <input class="order_info" type="text" id="name" th:value="${orderFormDto.getName()}" placeholder="수령인 이름을 입력해 주세요.">
                            <div th:if="${orderFormDto.getCustId()} == null">
                                <input class="order_info" type="text" id="non_cust_email" placeholder="비회원 주문 조회에 사용할 이메일을 입력해 주세요.">
                            </div>
                            <input class="order_info" type="text" id="tel_num" th:value="${orderFormDto.getTelNum()}" placeholder="수령인 전화번호를 입력해 주세요.">
                            <input class="order_info" type="text" id="zip_code" th:value="${orderFormDto.getZipCode()}" placeholder="우편번호를 입력해 주세요.">
                            <input class="order_info" type="text" id="main_address" th:value="${orderFormDto.getMainAddress()}" placeholder="기본 주소를 입력해 주세요.">
                            <input class="order_info" type="text" id="detail_address" th:value="${orderFormDto.getDetailAddress()}" placeholder="상세 주소를 입력해 주세요.">
<!--                            비회원 노출-->
                            <div th:if="${orderFormDto.getCustId()} == null">
                                <input class="order_info" type="text" id="non_cust_pwd" placeholder="비회원 주문 조회에 사용할 비밀번호를 입력해 주세요.">
                            </div>
<!--                            회원 노출-->
                            <div th:if="${orderFormDto.getCustId() != null}" style="display: inline-block">
                                <input type="checkbox" id="default_chk" style="display: inline-block">
                                <label for="default_chk" style="display: inline-block">다음에도 이 주소로 받을게요</label>
                            </div>
                        </td>
                    </tr>

<!--                    배송 정보-->
                    <tr class="req_msg">
                        <th class="req_msg_title">배송요청사항</th>
                        <td>
                            <input type="text" class="req_msg_form" id="ord_req_msg" th:value="${orderFormDto.getOrderRequestMessage()}" placeholder="배송 요청 사항을 입력해 주세요.">
                        </td>
                    </tr>
                    <tr class="entrance_type">
                        <th class="entrance_type_title">공동현관 출입방법</th>
                        <td>
<!--                            공동현관 비밀번호/자유출입가능 선택-->
                            <div class="radio_group">
                                <label>
                                    <input type="radio" name="entranceMethod" id="passwordRadio" onclick="togglePasswordField()" checked> 공동현관 비밀번호
                                </label>
                                <label>
                                    <input type="radio" name="entranceMethod" id="freeRadio" onclick="togglePasswordField()"> 자유출입 가능
                                </label>
                            </div>
<!--                            비밀번호 입력 필드-->
                            <input class="password_field" type="text" id="entrance_pwd" placeholder="정확한 공동현관 출입 비밀번호를 입력해 주세요." />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

<!--            주문 상품 정보-->
            <div class="box_wrap" style="padding: 32px">
                <div class="order_product_list_title">주문상품</div>
                <div class="total_order_product_number" id="total_ord_qty" th:value="${orderFormDto.getTotalOrdQty()}" th:text="'총 ' + ${orderFormDto.getTotalOrdQty()} + '개'"></div>
                <div class="product_list" th:each="product: ${productList}">
                    <script th:inline="javascript">
                        var product = [[${product}]];
                        productList.push(product);
                    </script>
                    <div class="product_item">
                        <img class="product_img" th:src="@{${product.getImg()}}" alt="Product Image" style="width:80px; height:100px; object-fit: cover">
                        <div class="product_name" th:text="${product.getProdName()}"></div>
                        <div class="product_quantity" th:text="${product.getOrdQty()} + '개'"></div>
                        <div class="product_price">
                            <div class="sale_price" th:attr="data-price=${product.getProdBasePrice() * product.getOrdQty() - product.getDiscPrice() * product.getOrdQty()}" th:text="${product.getProdBasePrice() * product.getOrdQty() - product.getDiscPrice() * product.getOrdQty()} + '원'" ></div>
                            <div class="product_base_price" th:attr="data-price=${product.getProdBasePrice() * product.getOrdQty()}" th:text="${product.getProdBasePrice() * product.getOrdQty()} + '원'"></div>
                        </div>
                    </div>
                </div>
                <div th:text="'예상 도착일 : ' + ${orderFormDto.getDlvDate()}" style="margin-top: 12px"></div>
            </div>

<!--            결제 수단 정보-->
            <div class="box_wrap" style="padding: 32px">
                <div class="payment_method_title">결제수단</div>
                <div class="payment_method_group">
                    <img id="tossPay" value="tossPay" style="width: 100px" src="https://contents.kyobobook.co.kr/resources/fo/images/common/ink/ico_payment_toss@2x.png" alt="">
                    <input type="hidden" name="paymentMethod" id="pay_method" value="tossPay">
                </div>
            </div>

<!--            금액 정보-->
            <div class="box_wrap" style="padding: 32px">
                <div class="price_info_title">금액</div>
                <div class="price_info">
                    <span class="price_label">총 상품 금액</span>
                    <span class="price" th:attr="data-price=${orderFormDto.getTotalProdBasePrice()}"></span>
                </div>
                <div class="price_info">
                    <span class="price_label">배송비</span>
                    <span class="price" th:attr="data-price=${orderFormDto.getDlvPrice()}"></span>
                </div>
                <div class="price_info">
                    <span class="price_label">총 할인 금액</span>
                    <span class="price" th:attr="data-price=${orderFormDto.getTotalDiscPrice()}"></span>
                </div>
                <div class="price_info">
                    <span class="price_label" style="font-weight: bold">최종 결제 금액</span>
                    <span class="price" th:attr="data-price=${orderFormDto.getTotalPayPrice()}" style="font-weight: bold"></span>
                </div>
            </div>
        </div>

        <input type="hidden" id="cust_id" th:value="${orderFormDto.getCustId()}">
        <input type="hidden" id="address_name" th:value="${orderFormDto.getAddressName()}">
        <input type="hidden" id="email" th:value="${orderFormDto.getEmail()}">
        <input type="hidden" id="cust_chk" th:value="${orderFormDto.getCustChk()}">
        <input type="hidden" id="is_all_ebook" th:value="${orderFormDto.getIsAllEbook()}">
        <input type="hidden" id="is_all_dawn_delivery" th:value="${orderFormDto.getIsAllDawnDelivery()}">
        <input type="hidden" id="dlv_date" th:value="${orderFormDto.getDlvDate()}">
        <input type="hidden" id="total_prod_base_price" th:value="${orderFormDto.getTotalProdBasePrice()}">
        <input type="hidden" id="dlv_price" th:value="${orderFormDto.getDlvPrice()}">
        <input type="hidden" id="total_disc_price" th:value="${orderFormDto.getTotalDiscPrice()}">
        <input type="hidden" id="total_pay_price" th:value="${orderFormDto.getTotalPayPrice()}">
        <button class="payment_button">결제하기</button>
    </form>

    <div th:replace="~{fragments/order_chatbot :: chatbotButton}"></div>
    <script th:src="@{/js/order/order_chatbot.js}"></script>
</body>
</html>