<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <title>정석문고 jungsukbook</title>
    </head>

    <link rel="stylesheet" href="/css/order/complete.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.order_detail_button').click(function () {
                window.location.href = '/order/history';
            });
        });

        function formatPrice(price) {
            return price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        window.onload = function () {
            var paymentPrice = document.getElementById('paymentPrice');
            if(paymentPrice) {
                var price = parseInt(paymentPrice.getAttribute('data-price'));
                paymentPrice.textContent = formatPrice(price) + "원";
            }
        }

    </script>
</head>
<div th:replace="~{fragments/header :: header}"></div>
<section class="section-1">
    <div class="con">
        <img class="w-full block" src="" alt="">
    </div>
</section>

<body>
<div class="title_heading">주문이 완료되었어요</div>
<div class="ord_id" th:text="'주문번호 ' + ${orderFormDto.ordId}"></div>
<!-- 주문상품 -->
<div class="order_product">
    <div class="box_title">주문상품</div>
    <div class="box_wrap" style="padding-top: 32px">
        <div class="product_list" th:each="product : ${orderFormDto.getProductList()}">
            <div class="product_item">
                <div class="product_name" th:text="${product.getProdName()}"></div>
                <div class="product_quantity" th:text="${product.getOrdQty()} + '개'"></div>
            </div>
        </div>
    </div>
</div>

<!-- 결제정보 -->
<div class="payment_info">
    <div class="box_title">결제정보</div>
    <div class="box_wrap" style="padding-top: 32px">
        <div class="title">최종결제금액</div>
        <div id="paymentPrice" class="total_payment_price" th:attr="data-price=${orderFormDto.getTotalPayPrice()}"> </div>
        <div class="content" th:text="${orderFormDto.getPaymentMethod()}"></div>
    </div>
</div>

<!-- 배송지정보 -->
<div class="deliveryInfo">
    <div class="box_title">배송지 정보</div>
    <div class="box_wrap" style="padding-top: 32px">
        <div class="title">받는 사람</div>
        <div class="content" th:text="${orderFormDto.getName()} + ' / ' + ${orderFormDto.getTelNum()}"></div>
        <br>
        <div class="title">받는 주소</div>
        <div class="content" th:text="'[' + ${orderFormDto.getZipCode()} + '] ' + ${orderFormDto.getMainAddress()} + ${orderFormDto.getDetailAddress()}"></div>
        <br>
        <div class="title">요청사항</div>
        <div class="content" th:text="${orderFormDto.getOrderRequestMessage()}"></div>
    </div>
</div>

<!-- 하단 버튼 -->
<div class="bottom_buttons">
    <button class="main_button">쇼핑 계속</button>
    <button class="order_detail_button">주문내역</button>
</div>
</body>

</html>