<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <script src="https://js.tosspayments.com/v1/payment-widget"></script>
</head>
<body>
<!-- 할인 쿠폰 -->
<div>
    <input type="checkbox" id="coupon-box" />
    <label for="coupon-box"> 50원 쿠폰 적용 </label>
</div>
<!-- 결제 UI, 이용약관 UI 영역 -->
<div id="payment-method"></div>
<div id="agreement"></div>
<!-- 결제하기 버튼 -->
<button id="payment-button">결제하기</button>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<input type="hidden" id="amount" th:value="${orderFormDto.getTotalPayPrice()}">
<input type="hidden" id="prodName" th:value="${orderFormDto.getProductList().get(0).getProdName()} + '...'">
<!--<input type="hidden" id="ordId" th:value="${orderFormDto.getOrdId()}">-->
<input type="hidden" id="custName" th:value="${orderFormDto.getName()}">
<input type="hidden" id="email" th:value="${orderFormDto.getEmail()}">
<input type="hidden" id="telNum" th:value="${orderFormDto.getTelNum()}">

<script>
    const coupon = document.getElementById("coupon-box");
    const button = document.getElementById("payment-button");
    const amount = $('input[id=amount]').val();
    const prodName = $('input[id=prodName]').val();
    // const ordId = $('input[id=ordId]').val(); ordId 생성되기 전
    const custName = $('input[id=custName]').val();
    const email = $('input[id=email]').val();
    const telNum = $('input[id=telNum]').val();

    // testKey
    const widgetClientKey = "test_gck_docs_Ovk5rk1EwkEbP0W43n07xlzm";
    const customerKey = "6Ac_q_xT1Y6yWBg4Tlbok";
    const paymentWidget = PaymentWidget(widgetClientKey, customerKey); // 회원 결제
    // const paymentWidget = PaymentWidget(widgetClientKey, PaymentWidget.ANONYMOUS) // 비회원 결제

    const paymentMethodWidget = paymentWidget.renderPaymentMethods(
        "#payment-method",
        { value: amount },
        { variantKey: "DEFAULT" }
    );

    paymentWidget.renderAgreement(
        "#agreement",
        { variantKey: "AGREEMENT" }
    );

    coupon.addEventListener("change", function () {
        if (coupon.checked) {
            paymentMethodWidget.updateAmount(amount - 50);
        } else {
            paymentMethodWidget.updateAmount(amount);
        }
    });

    button.addEventListener("click", function () {
        paymentWidget.requestPayment({
            orderId: "testtest",
            orderName: prodName,
            successUrl: window.location.origin + "/orderComplete",
            failUrl: window.location.origin + "/fail",
            customerEmail: email,
            customerName: custName,
            customerMobilePhone: telNum,
        });
    });
</script>
</body>
</html>