<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.no1.book.dao.product.ProductDao">

    <!-- 전체 상품 개수 조회 -->
    <select id="count" resultType="int">
        select count(*)
        from product
    </select>

    <!-- 모든 상품 삭제 -->
    <delete id="deleteAll">
        delete
        from product
    </delete>

    <!-- 특정 상품 삭제 -->
    <delete id="delete" parameterType="string">
        delete
        from product
        where prod_id = #{prodId}
    </delete>

    <!-- 상품 추가 -->
    <insert id="insert" parameterType="com.no1.book.domain.product.ProductDto">
        INSERT INTO product (prod_id, is_ebook, prod_name, prod_base_price, disc_rate, disc_price, sale_price,
                             total_sales, table_of_content, smry, pblcr, pblcr_review, image_id, isbn, pblsh_date,
                             total_pages, total_books, trlr, dawn_deli_chk, star_avg, cate_code, rev_cnt, posi_rev_cnt,
                             reg_date, reg_id, up_date, up_id, author_info_id, ord_chk_code, code_type)
        VALUES (#{prodId}, #{isEbook}, #{prodName}, #{prodBasePrice}, #{discRate}, #{discPrice}, #{salePrice},
                #{totalSales}, #{tableOfContent}, #{smry}, #{pblcr}, #{pblcrReview}, #{imageId}, #{isbn}, #{pblshDate},
                #{totalPages}, #{totalBooks}, #{trlr}, #{dawnDeliChk}, #{starAvg}, #{cateCode}, 0, 0,
                date(now()), 'admin', now(), 'admin', #{authorInfoId}, #{ordChkCode}, #{codeType})
    </insert>

    <!-- 상품 등록 날짜 기준 오름차순 정렬 -->
    <select id="sortByRegDateAsc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by reg_date
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 상품 등록 날짜 기준 내림차순 정렬 -->
    <select id="sortByRegDateDesc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by reg_date desc
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 상품 가격 기준 오름차순 정렬 -->
    <select id="sortByPriceAsc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by prod_base_price
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 상품 가격 기준 내림차순 정렬 -->
    <select id="sortByPriceDesc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by prod_base_price desc
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 총 판매량 기준 오름차순 정렬 -->
    <select id="sortByTotalSalesAsc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by total_sales
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 총 판매량 기준 내림차순 정렬 -->
    <select id="sortByTotalSalesDesc" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        order by total_sales desc
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 카테고리 필터 -->
    <select id="filterByCategory" resultType="com.no1.book.domain.product.ProductDto">
        select p.*
        from product p
                 join code c on p.cate_code = c.code
        where p.cate_code like #{cateKey}
    </select>

    <!-- 특정 상품 조회 -->
    <select id="select" parameterType="string" resultType="com.no1.book.domain.product.ProductDto">
        select *
        from product
        where prod_id = #{prodId}
    </select>

    <!-- 페이징을 이용한 상품 목록 조회 -->
    <select id="selectPage" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        SELECT *
        FROM product
        ORDER BY reg_date DESC, prod_id DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 상품 업데이트 -->
    <update id="update" parameterType="com.no1.book.domain.product.ProductDto">
        UPDATE product
        SET prod_base_price  = #{prodBasePrice},
            disc_rate        = #{discRate},
            table_of_content = #{tableOfContent},
            author_info_id   = #{authorInfoId},
            smry             = #{smry},
            pblcr_review     = #{pblcrReview},
            dawn_deli_chk    = #{dawnDeliChk},
            star_avg         = #{starAvg},
            ord_chk_code     = #{ordChkCode},
            cate_code        = #{cateCode},
            up_date          = now(),
            disc_price       = #{prodBasePrice} * #{discRate} / 100,
            sale_price       = #{prodBasePrice} - #{prodBasePrice} * #{discRate} / 100
        WHERE prod_id = #{prodId}
    </update>

    <!-- 상품의 리뷰 개수 업데이트 (필요시 트리거 사용) -->
    <update id="updateReviewCount" parameterType="string">
        UPDATE product
        SET rev_cnt = rev_cnt + 1
        WHERE prod_id = #{prodId};
    </update>

    <!-- 상품의 긍정 리뷰 개수 업데이트 (필요시 트리거 사용) -->
    <update id="updatePositiveReviewCount" parameterType="string">
        UPDATE product
        SET posi_rev_cnt = posi_rev_cnt + 1
        WHERE prod_id = #{prodId};
    </update>

    <!-- 정렬 및 필터링 기능이 포함된 페이징 상품 목록 조회 -->
    <select id="getFilteredAndSortedPage" parameterType="map" resultType="com.no1.book.domain.product.ProductDto">
        SELECT *
        FROM product
        WHERE 1=1
        <if test="cateKey != null and cateKey != ''">
            AND cate_code LIKE CONCAT(#{cateKey}, '%')
        </if>
        ORDER BY
        <choose>
            <when test="sortKey == 'price'">
                prod_base_price
            </when>
            <when test="sortKey == 'sales'">
                total_sales
            </when>
            <otherwise>
                reg_date
            </otherwise>
        </choose>
        <choose>
            <when test="sortOrder == 'desc'">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
        ,prod_name asc
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 필터링된 상품의 총 개수 조회 -->
    <select id="getFilteredAndSortedTotalSize" parameterType="map" resultType="int">
        SELECT count(*)
        FROM product
        WHERE 1=1
        <if test="cateKey != null and cateKey != ''">
            AND cate_code LIKE CONCAT(#{cateKey}, '%')
        </if>
    </select>

    <!-- 특정 카테고리 이름 조회 -->
    <select id="getCateName" parameterType="string" resultType="string">
        select c.code_name
        from code c
                 join product p on c.code = p.cate_code
        where p.cate_code = #{cateCode}
        limit 1;
    </select>

    <!-- 상품 ID 중복 확인 -->
    <select id="idChk" parameterType="string" resultType="int">
        SELECT COUNT(*)
        FROM product
        WHERE prod_id = #{prodId}
    </select>

    <!-- 가장 최근에 추가된 상품 ID 조회 -->
    <select id="createId" resultType="string">
        select prod_id
        from product
        order by prod_id desc
        limit 1;
    </select>

    <!-- 상품 판매량 증가 -->
    <update id="plusSales" parameterType="string">
        update product
        set total_sales = total_sales + 1
        where prod_id = #{prodId};
    </update>

    <!-- 상품명으로 상품 검색 및 페이징 처리 -->
    <select id="getPage" parameterType="com.no1.book.domain.product.SearchCondition"
            resultType="com.no1.book.domain.product.ProductDto">
        SELECT *
        FROM product
        WHERE 1=1
        <if test="cateKey != null and cateKey != ''">
            AND cate_code LIKE CONCAT(#{cateKey}, '%')
        </if>
        AND product.prod_name like concat('%', #{keyword}, '%')
        ORDER BY
        <choose>
            <when test="sortKey == 'price'">
                prod_base_price
            </when>
            <when test="sortKey == 'sales'">
                total_sales
            </when>
            <otherwise>
                reg_date
            </otherwise>
        </choose>
        <choose>
            <when test="sortOrder == 'desc'">
                DESC
            </when>
            <otherwise>
                ASC
            </otherwise>
        </choose>
        ,prod_name asc
        LIMIT #{offset}, #{pageSize}
    </select>

    <!-- 검색된 상품의 총 개수 조회 -->
    <select id="getPageSize" parameterType="com.no1.book.domain.product.SearchCondition" resultType="int">
        SELECT count(*)
        FROM product
        WHERE 1=1
        <if test="cateKey != null and cateKey != ''">
            AND cate_code LIKE CONCAT(#{cateKey}, '%')
        </if>
        AND prod_name like concat('%', #{keyword}, '%')
    </select>

    <!-- 판매량 기준 정렬 -->
    <select id="orderBySales">
        select * from product
        order by total_sales desc;
    </select>

    <!-- 평점 기준 정렬 -->
    <select id="orderByStar">
        select * from product
        order by star_avg desc;
    </select>

    <select id="selectIdByName">
        select prod_id from product
        where prod_name = ${prodName}
        limit 1;
    </select>


</mapper>