<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.no1.book.dao.product.ReviewDao">

    <!-- 모든 리뷰 개수 카운트 -->
    <select id="totalReviewCount" resultType="int">
        select count(*) from review
    </select>

    <select id ="totalPositiveReviewCount" resultType="int">
        select count(*) from review
        where sentiment = 'positive'
    </select>

    <select id ="totalPendingReviewCount" resultType="int">
        select count(*) from review
        where sentiment = 'pending'
    </select>

    <select id ="totalNegativeReviewCount" resultType="int">
        select count(*) from review
        where sentiment = 'negative'
    </select>

    <select id="reviewCountPerProduct" resultType="int">
        select count(*) from review
        where prod_id = #{prodID}
    </select>

    <select id="positiveReviewCountPerProduct" resultType="int">
        select count(*) from review
        where prod_id = #{prodID}
        and sentiment = 'positive'
    </select>

    <select id="negativeReviewCountPerProduct" resultType="int">
        select count(*) from review
        where prod_id = #{prodID}
          and sentiment = 'negative'
    </select>

    <select id="pendingReviewCountPerProduct" resultType="int">
        select count(*) from review
        where prod_id = #{prodID}
          and sentiment = 'pending'
    </select>

    <!-- 모든 리뷰 삭제 -->
    <delete id="deleteAll">
        delete from review
    </delete>

    <!-- 특정 리뷰 조회 -->
    <select id="select" resultType="com.no1.book.domain.product.ReviewDto" parameterType="int">
        select * from review
        where review_id = #{reviewId}
    </select>

    <!-- 새로운 리뷰 추가 -->
    <insert id="add" parameterType="com.no1.book.domain.product.ReviewDto">
        insert into review (prod_id, cust_id, content, rcmd_count, reg_date, reg_id, up_date, up_id, star_pt, sentiment)
        values (#{prodId}, #{custId}, #{content}, 0, now(), #{custId}, now(), #{custId}, #{starPt}, 'pending')
    </insert>

    <!-- 특정 리뷰 삭제 -->
    <delete id="delete" parameterType="int">
        delete from review
        where review_id = #{reviewId}
    </delete>

    <!-- 리뷰 업데이트 (내용, 평점, 감정) -->
    <update id="update" parameterType="com.no1.book.domain.product.ReviewDto">
        UPDATE review
        SET content = #{content},
        star_pt = #{starPt},
        sentiment = #{sentiment},   <!-- 감정 상태 추가 -->
        up_date = now(),
        up_id = #{custId}
        WHERE review_id = #{reviewId}
    </update>

    <!-- 특정 상품에 대한 리뷰 조회 -->
    <select id="reviewsPerProduct" parameterType="string" resultType="com.no1.book.domain.product.ReviewDto">
        select * from review
        where prod_id = #{prodId}
        order by reg_date desc
    </select>

<!--    &lt;!&ndash; 특정 상품의 긍정 리뷰 카운트 &ndash;&gt;-->
<!--    <select id="positiveReviewCount" parameterType="string" resultType="int">-->
<!--        select count(*) from review-->
<!--        where prod_id = #{prodId}-->
<!--          and sentiment = 'positive'-->
<!--    </select>-->

<!--    &lt;!&ndash; 특정 상품의 전체리뷰 카운트 &ndash;&gt;-->
<!--    <select id="totalReviewCount" parameterType="string" resultType="int">-->
<!--        select count(*) from review-->
<!--        where prod_id = #{prodId}-->
<!--    </select>-->

</mapper>