<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/customer/style.css}">
    <title>정석문고 jungsukbook</title>
</head>
<header class="top-bar">
    <div class="con flex h-full">
        <a href="/" class="logo flex items-center">
            <img th:src="@{/images/logo_transparent.png}" class="logo-small">

        </a>
        <div class="flex-grow"></div>

        <ul class="menu-1 flex" >
            <li><a href="/" class="flex h-full items-center px-4">소개</a></li>
            <li><a href="/customer/login" id="login-link" class="flex h-full items-center px-4">로그인</a></li>
            <li><a href="/customer/mypage" class="flex h-full items-center px-4">마이페이지</a></li>
            <li><a href="/cart/list" class="flex h-full items-center px-4">장바구니</a></li>
            <li><a href="#" class="flex h-full items-center px-4">문의하기</a></li>

        </ul>
    </div>
</header>
<section class="section-1">
    <div class="con">
        <img class="w-full block" src="" alt="">
    </div>
</section>

<body class="center-area custom-body">

<div class="intro_text">
    <h1>정석문고&nbsp;&nbsp;<br> </h1>
    <h2><br>지성인을 위한.</h2>
        적합하고 합리적인 도서를 추천합니다.<br><br>
    <h2>대한민국 최고의 도서쇼핑몰</h2> <br>


</div>
<div class="main_text0">
    <h1><a href="customer/login" class="custom-link">로그인하기</a></h1>

    <div class="contents1"><h4></h4></div>

</div>

</body>
</html>
