<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>user1::login</title>
</head>
<body>
<h3>user1 login</h3>
<a th:href="@{/}">메인이동</a>
<form th:action="@{/user1/login}" method="post">
    <table border="1">
        <tr>
            <td>아이디</td>
            <td><input type="text" name="uid"/></td>
        </tr>
        <tr>
            <td>비밀번호</td>
            <td><input type="password" name="pass"/></td>
        </tr>
        <tr>
            <td colspan="2" align="right"><input type="submit" value="로그인"/></td>
        </tr>
    </table>
</form>
</body>
</html>