/* Global Styles */
body {
    background-color: #f8f9fa; /* 기본 배경 색상 유지 */
    color: #343a40;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1400px; /* 더 넓은 최대 너비 설정 */
    width: 75%; /* 화면 너비의 75%를 사용 */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

/* 헤딩 스타일 */
h1, h2, h3, h4 {
    color: #343a40;
    margin-bottom: 15px;
    font-family: 'Pretendard-Regular', Arial, sans-serif; /* 스타일 통일 */
}

h1 {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 1.5em;
    color: #007bff;
}

h3 {
    font-size: 1.3em;
    color: #495057;
}

h4 {
    font-size: 1.1em;
    color: #dc3545;
}

/* 텍스트 스타일 */
p {
    font-size: 1em;
    line-height: 1.6;
    color: #6c757d;
    padding-left: 10px;
}

/* 상품 이미지 */
.product-image {
    width: 100%;
    max-width: 400px; /* 이미지 크기 확장 */
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

/* 상품 정보 섹션 */
.product-info {
    text-align: center;
}

/* 가격 정보 스타일 */
.product-price h2 {
    font-size: 1.2em;
    color: #999;
    font-weight: normal;
    text-decoration: line-through;
}

.product-price h3 {
    font-size: 1.4em;
    color: #323539;
    font-weight: bold;
    text-decoration: none;
}

.product-price h4 {
    font-size: 2em;
    color: #e74c3c;
    font-weight: bold;
}

/* 장바구니 및 주문 버튼 스타일 */
.cart-and-order {
    margin-top: 20px;
    text-align: center;
}

.cart-and-order input[type='button'], .cart-and-order button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
}

.cart-and-order button {
    background-color: #28a745;
    padding: 10px 20px;
}

.cart-and-order button:hover {
    background-color: #218838;
}

/* 상품 상세 정보 */
.product-details, .author-section, .publisher-section, .additional-info, .review-section, .review-list {
    margin-top: 40px;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left; /* 텍스트를 좌측 정렬로 설정 */
    width: 100%; /* 컨테이너의 너비에 맞추어 조정 */
}

/* 리뷰 스타일 */
.review-item {
    background-color: #e9ecef; /* 배경과 구분되는 색상으로 설정 */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.review-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* 리뷰 메타 데이터 */
.review-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review-buttons button {
    padding: 8px 12px; /* 버튼의 높이를 맞추기 위해 패딩 조정 */
    margin: 0 2px;
    font-size: 0.9em;
}

/* 리뷰 내용 */
.review-content {
    margin-top: 10px;
    font-size: 1em;
    color: #495057;
    text-align: left; /* 텍스트를 좌측 정렬로 설정 */
    background-color: #ffffff; /* 리뷰 내용과 구분되도록 배경색 추가 */
    padding: 15px;
    border-radius: 5px;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1); /* 내부 음영 추가 */
}

/* 미디어 쿼리 - 모바일 최적화 */
@media (max-width: 768px) {
    .review-meta {
        flex-direction: column;
        align-items: flex-start;
    }

    .review-section textarea.form-control {
        height: 80px;
    }

    .container {
        width: 95%; /* 모바일에서 좀 더 넓게 차지 */
    }
}

body::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ffffff;
}

.btn-primary {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    margin-top: 18px;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    margin-top: 18px;
}