<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.no1.book.dao.order.CartProdDao">


    <resultMap id="CartProdResultMap" type="CartProdDto">
        <id property="custId" column="cust_id"/>
        <id property="prodId" column="prod_id"/>
        <result property="itemQty" column="item_qty"/>
        <result property="imageId" column="image_id"/>
        <result property="prodName" column="prod_name"/>
        <result property="prodBasePrice" column="prod_base_price"/>
        <result property="discRate" column="disc_rate"/>
        <result property="discPrice" column="disc_price"/>
        <result property="salePrice" column="sale_price"/>
        <result property="ordAbStusCode" column="ord_ab_stus_code"/>
        <result property="registerDate" column="register_date"/>
        <result property="expiredDate" column="expired_date"/>
        <result property="dawnDeliCk" column="dawn_deli_chk"/>
        <result property="isEBook" column="is_ebook"/>
    </resultMap>

    <!-- 장바구니 상품 조회 -->
    <select id="selectCartItem" resultMap="CartProdResultMap" parameterType="Integer">
        select c.cust_id, p.prod_id, p.is_ebook, p.image_id, p.prod_name, p.prod_base_price, p.disc_rate, p.disc_price, p.sale_price, p.ord_ab_stus_code,
                c.item_qty, c.register_date, c.expired_date, p.dawn_deli_chk
        from cart c, product p
        where c.cust_id=#{custId} and c.prod_id = p.prod_id
        order by c.register_date DESC
    </select>

</mapper>